

.about_tag{
    margin-left: 3vw;
    height:7vh;
    width: 20vw;
    background-color: rgb(31, 30, 30);
    border-radius: 20px 20px 0 0;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.about_content{
    display: flex;
    height:75vh;
    background-color: rgb(31, 30, 30);
}



.about_content_pic{
    width:60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8%;
}

.about_content_pic>img{
    width:100%;
    border-radius: 20px;
}


.about_content_des{
    font-size: 2vh;
    color:white;
    width: 40%;
    padding:5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:self-start;
}

.skill{

    border-radius: 7px;
    padding: 0 9px;
    margin:0 5px;
}
 .purple{
    background-color:rgb(221, 149, 221)
 }
 .yellow{
    background-color:rgb(240, 197, 41)
 }
 .green{
    background-color:rgb(68, 207, 68)
 }
 .orange{
    background-color:orange
 }
 .brown{
    background-color:rgb(199, 162, 162)
 }
 .gray{
    background-color:gray
 }
 .crimson{
    background-color:rgb(232, 133, 151)
 }

 .skill:hover{
    box-shadow: 0px 0px 7px currentColor;
 }